@import 'variables.scss';

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $bg-color;
  color: $primaryText;
  letter-spacing: 0.3px;
  font-family: 'Noto Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

main {
  padding: 0rem 2rem;
  min-height: calc(100vh - 93px);
}

@mixin vertical-align-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form_control {
  padding: 0.625rem 1.5rem 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 3px;
  color: $primaryText;
  border: 1px solid $border1;
  background-color: $white;

  &:focus-visible {
    outline: none;
    border-color: $primaryBlue;
  }
}

// .icon {
//   // position: relative;
//   // width: 1.5rem;
//   // height: 1.5rem;
//   &::before {
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%,-50%);

//   }
// }

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid $primaryBlue;
  border-radius: 3px;
  cursor: pointer;
}

.btn_primary {
  background-color: $primaryBlue;
  color: $white;
}

.btn_secondary {
  background-color: transparent;
  color: $primaryBlue;
}

/* START - DROPDOWN */
.dropdown {
  position: relative;

  .dropdown_menu {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background-color: $white;
    z-index: 1;
    transition: all 0.3s;

    .dropdown_item a {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      text-decoration: none;
      color: $primaryText;
      font-size: 0.875rem;

      &:active,
      &:hover {
        color: $primaryText;
        background-color: $secondaryBlue;
      }
    }
  }
  .form_control {
    width: 100%;
  }
  .dropdown_heading {
    position: relative;
    cursor: pointer;
    i {
      @include vertical-align-middle;
      right: 0.75rem;
      color: $greyVariant2;
    }
  }

  &.show {
    ul {
      padding: 0.25rem 0;
      max-height: 10rem;
      overflow: auto;
      border: 1px solid $primaryBlue;
      border-radius: 0 0 3px 3px;
    }

    i.fa-caret-down {
      transform: translateY(-50%) rotate(180deg);
    }

    .form_control {
      border-radius: 3px 3px 0 0;
    }
  }

}

/* END - DROPDOWN */

header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.625rem 2rem;
  background-color: $primaryBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .logo {
    position: absolute;
    left: 2.75rem;
  }

  * {
    cursor: pointer;
  }
  .form_control {
    border: none;
  }
}

.header_search {
  display: flex;
  align-items: center;

  .dropdown {
    .form_control {
      max-width: 10rem;
      border-radius: 3px 0 0 3px;
      background-color: $secondaryBlue;
    }

    &.show .form_control {
      border-radius: 3px 0 0 0;
    }
  }

  .search_wrapper {
    position: relative;

    .form_control {
      border: none;
      border-radius: 0 3px 3px 0;
      width: 500px
    }

    i {
      @include vertical-align-middle;
      right: 0.75rem;
      color: $greyVariant1;
    }
  }
}

.header_right-content {
  display: flex;
  align-items: center;

  .dropdown {
    margin: 0 1rem;

    .form_control {
      background-color: transparent;
      color: $white;
      max-width: 10rem;
    }

    .icon {
      color: $white;
    }
  }
}

.notification_wrapper {
  margin: 0 1rem;

  .icon {
    color: $blue3;

    &::before {
      font-size: 1.625rem;
    }
  }
}

.profile_image-wrapper {
  margin: 0 1rem;
  width: 34px;
  height: 34px;
  overflow: hidden;
  transition: all 0.3s;
  border: 4px solid transparent;
  box-sizing: content-box;
  border-radius: 2rem;

  &:hover {
    border-color: $blue4;
  }
}

.profile_image {
  position: relative;
  left: -50%;
}

.drop_shadow {
  box-shadow: 0px 1px 2px 1px $greyVariant3;
}
.card_shadow {
  box-shadow: 1px 1px 4px 1px $greyVariant3;
}
.text_align-right {
  text-align: right;
}
.tablist_wrapper {
  margin: 0 2rem 0 -2rem;
  width: calc(100% + 4rem);
  padding: 0rem 2rem;
  background-color: $white2;
  margin-bottom: 1.25rem;

  .btn {
    border: none;
    background-color: transparent;
    padding: 1.125rem 1rem;
    border-bottom: 2px solid transparent;
    color: $text2;
    margin-right: 1.5rem;
    border-radius: 0;

    i {
      margin-right: 1.5rem;
    }

    &.selected {
      border-color: $primaryBlue;
      color: $primaryBlue;

      i {
        color: $primaryBlue;
      }
    }
  }
}

.tab_panel {
  display: none;

  &.show {
    display: block;
  }
}

footer {
  padding: 0.5rem 1.875rem;
  background-color: $white2;
  color: $text2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;

  nav a {
    margin-left: 1.75rem;
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    margin-left: 4.25rem;
  }
}

.container {

  .container_hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.375rem;

    h1 {
      font-size: 1.625rem;
      color: $primaryText;
      opacity: 0.9;
      font-weight: normal;
      line-height: 1.4;

    }
    h2 {
      font-size: 1rem;
    }
    .date_input.form_control {
      width: 18rem;
    }
  }
  .container_bd {
    margin-bottom: 0.875rem;
  }
  .container_ft {
    .btn {
      padding: 0.75rem 3.75rem;
    }
    margin-bottom: 1rem;
  }
}
.user_details-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: $white;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}
.user_details {
  div {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    &:last-child {
      margin-bottom: 0;
    }
    span:nth-child(2) {
      color: $greyVariant2;
      font-weight: bold;
    }
  }
}

.chip {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.25rem 2.25rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  font-weight: bold;

  &.success {
    background-color: $success;
    border-color: $success;
    color: $white;
  }

}

.card_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.875rem;

  .card {
    padding: 0.875rem 2.25rem;
    border-radius: 3px;
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(1) {
      background-color: $blue5;
    }
    &:nth-child(2) {
      background-color: $pink1;
    }
    &:nth-child(3) {
      background-color: $orange1;
    }

    .balance_details {
      color: $white;
      font-size: 0.75rem;
      span {
        display: block;
        margin-bottom: 0.375rem;
        &:last-child {
          margin: 0;
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
      
    }
    i {
      color: $white;
      font-size: 1.625rem;
      opacity: 0.3;
    }
  }
}

.summary_wrapper {
  padding: 1.875rem;
  background-color: $white;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.right_side-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  .dropdown {
    width: 8.5rem;
  }
  
}

.overflow_menu-wrapper {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  .overflow_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  } 

  &:hover {
    background-color: $secondaryBlue;
  }
}

.chart_wrapper{
  margin-bottom: 1.5rem;
}
.table_wrapper {
  overflow: auto;
  border: 1px solid $border2;
  border-radius: 3px;
}
table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: $blue6;
  }
  td,
  th {
    padding: 0.75rem 1rem;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    color: $greyVariant2;
  }
  th {
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  td {
    font-size: 0.875rem;
  }
  tbody tr:not(:last-child) {
    border-bottom: 1px solid $border2;
  }
}
