body {
  width: 100%;
  overflow-x: hidden;
  background-color: #F4F6F9;
  color: #34393E;
  letter-spacing: 0.3px;
  font-family: 'Noto Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

main {
  padding: 0rem 2rem;
  min-height: calc(100vh - 93px);
}

.form_control {
  padding: 0.625rem 1.5rem 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 3px;
  color: #34393E;
  border: 1px solid #BCC7D1;
  background-color: #fff;
}

.form_control:focus-visible {
  outline: none;
  border-color: #595FAB;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #595FAB;
  border-radius: 3px;
  cursor: pointer;
}

.btn_primary {
  background-color: #595FAB;
  color: #fff;
}

.btn_secondary {
  background-color: transparent;
  color: #595FAB;
}

/* START - DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown .dropdown_menu {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown .dropdown_menu .dropdown_item a {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  color: #34393E;
  font-size: 0.875rem;
}

.dropdown .dropdown_menu .dropdown_item a:active, .dropdown .dropdown_menu .dropdown_item a:hover {
  color: #34393E;
  background-color: #F1F4F9;
}

.dropdown .form_control {
  width: 100%;
}

.dropdown .dropdown_heading {
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown_heading i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.75rem;
  color: #45505B;
}

.dropdown.show ul {
  padding: 0.25rem 0;
  max-height: 10rem;
  overflow: auto;
  border: 1px solid #595FAB;
  border-radius: 0 0 3px 3px;
}

.dropdown.show i.fa-caret-down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.dropdown.show .form_control {
  border-radius: 3px 3px 0 0;
}

/* END - DROPDOWN */
header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.625rem 2rem;
  background-color: #595FAB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

header .logo {
  position: absolute;
  left: 2.75rem;
}

header * {
  cursor: pointer;
}

header .form_control {
  border: none;
}

.header_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_search .dropdown .form_control {
  max-width: 10rem;
  border-radius: 3px 0 0 3px;
  background-color: #F1F4F9;
}

.header_search .dropdown.show .form_control {
  border-radius: 3px 0 0 0;
}

.header_search .search_wrapper {
  position: relative;
}

.header_search .search_wrapper .form_control {
  border: none;
  border-radius: 0 3px 3px 0;
  width: 500px;
}

.header_search .search_wrapper i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.75rem;
  color: #9FACB8;
}

.header_right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_right-content .dropdown {
  margin: 0 1rem;
}

.header_right-content .dropdown .form_control {
  background-color: transparent;
  color: #fff;
  max-width: 10rem;
}

.header_right-content .dropdown .icon {
  color: #fff;
}

.notification_wrapper {
  margin: 0 1rem;
}

.notification_wrapper .icon {
  color: #B3B4FA;
}

.notification_wrapper .icon::before {
  font-size: 1.625rem;
}

.profile_image-wrapper {
  margin: 0 1rem;
  width: 34px;
  height: 34px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 4px solid transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 2rem;
}

.profile_image-wrapper:hover {
  border-color: #7a7fbc;
}

.profile_image {
  position: relative;
  left: -50%;
}

.drop_shadow {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.16);
}

.card_shadow {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.16);
}

.text_align-right {
  text-align: right;
}

.tablist_wrapper {
  margin: 0 2rem 0 -2rem;
  width: calc(100% + 4rem);
  padding: 0rem 2rem;
  background-color: #FEFEFE;
  margin-bottom: 1.25rem;
}

.tablist_wrapper .btn {
  border: none;
  background-color: transparent;
  padding: 1.125rem 1rem;
  border-bottom: 2px solid transparent;
  color: #5A6B7B;
  margin-right: 1.5rem;
  border-radius: 0;
}

.tablist_wrapper .btn i {
  margin-right: 1.5rem;
}

.tablist_wrapper .btn.selected {
  border-color: #595FAB;
  color: #595FAB;
}

.tablist_wrapper .btn.selected i {
  color: #595FAB;
}

.tab_panel {
  display: none;
}

.tab_panel.show {
  display: block;
}

footer {
  padding: 0.5rem 1.875rem;
  background-color: #FEFEFE;
  color: #5A6B7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
}

footer nav a {
  margin-left: 1.75rem;
  text-decoration: none;
  color: inherit;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .copyright {
  margin-left: 4.25rem;
}

.container .container_hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.375rem;
}

.container .container_hd h1 {
  font-size: 1.625rem;
  color: #34393E;
  opacity: 0.9;
  font-weight: normal;
  line-height: 1.4;
}

.container .container_hd h2 {
  font-size: 1rem;
}

.container .container_hd .date_input.form_control {
  width: 18rem;
}

.container .container_bd {
  margin-bottom: 0.875rem;
}

.container .container_ft {
  margin-bottom: 1rem;
}

.container .container_ft .btn {
  padding: 0.75rem 3.75rem;
}

.user_details-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.user_details div {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.user_details div:last-child {
  margin-bottom: 0;
}

.user_details div span:nth-child(2) {
  color: #45505B;
  font-weight: bold;
}

.chip {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.25rem 2.25rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  font-weight: bold;
}

.chip.success {
  background-color: #07C060;
  border-color: #07C060;
  color: #fff;
}

.card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1.875rem;
}

.card_wrapper .card {
  padding: 0.875rem 2.25rem;
  border-radius: 3px;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_wrapper .card:nth-child(1) {
  background-color: #8190FF;
}

.card_wrapper .card:nth-child(2) {
  background-color: #FF5F83;
}

.card_wrapper .card:nth-child(3) {
  background-color: #FF9056;
}

.card_wrapper .card .balance_details {
  color: #fff;
  font-size: 0.75rem;
}

.card_wrapper .card .balance_details span {
  display: block;
  margin-bottom: 0.375rem;
}

.card_wrapper .card .balance_details span:last-child {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.card_wrapper .card i {
  color: #fff;
  font-size: 1.625rem;
  opacity: 0.3;
}

.summary_wrapper {
  padding: 1.875rem;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.right_side-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.right_side-wrapper .dropdown {
  width: 8.5rem;
}

.overflow_menu-wrapper {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overflow_menu-wrapper .overflow_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overflow_menu-wrapper:hover {
  background-color: #F1F4F9;
}

.chart_wrapper {
  margin-bottom: 1.5rem;
}

.table_wrapper {
  overflow: auto;
  border: 1px solid #DCE3EA;
  border-radius: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #F2F4F7;
}

table td,
table th {
  padding: 0.75rem 1rem;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: #45505B;
}

table th {
  text-transform: uppercase;
  font-size: 0.75rem;
}

table td {
  font-size: 0.875rem;
}

table tbody tr:not(:last-child) {
  border-bottom: 1px solid #DCE3EA;
}
/*# sourceMappingURL=base.css.map */