$primaryBlue : #595FAB;
$secondaryBlue: #F1F4F9;
$blue3: #B3B4FA;
$blue4: #7a7fbc;
$blue5: #8190FF;
$blue6: #F2F4F7;
$white: #fff;
$white2: #FEFEFE;
$bg-color: #F4F6F9;
$primaryText: #34393E;
$text2: #5A6B7B;
$greyVariant1: #9FACB8;
$greyVariant2: #45505B;
$greyVariant3: rgba(0, 0, 0, 0.16);
$border1: #BCC7D1;
$border2: #DCE3EA;
$success: #07C060;

$pink1: #FF5F83;
$pink2: #FF6384;

$orange1: #FF9056;
$orange2: #FF9F40;

